@charset "utf-8";
/* CSS Document */
*{margin:0;padding:0;}
html{-webkit-text-size-adjust:none;}
body{-moz-user-select:none; font-family:"Microsoft Yahei",Tahoma,Arial,sans-serif; -webkit-user-select:none; -webkit-tap-highlight-color:rgba(0,0,0,0); background:#000; font-size:62.5%; color:#fefefe; width:100% ;margin:0 auto;}
header, section, footer, aside, article, figure, nav{display:block;}
body{position: relative;height: 100%;}
img{border:0;}
a{text-decoration:none; color:#00000;}
a:visited{color:#000000;}
a:hover{color: #00FFFF;}
ul li,ol li,dl li{list-style-type:none;}
.clear{clear:both; font-size:0; line-height:0;}
img{ width:100%;}
h4{color: #000000;}


.dneg{background: #FFFFFF;}
.deng .tou{height: 88px;background: #81c8f6;}
.deng .tou .tou1{text-align: center;padding-top: 25px;}
.deng .tou .tou1 img{height: 20px;width: 20px;float: left;margin: 5px 20px;}
.deng .tou .tou1 h4{color: #FFFFFF;width: 84%;}

.nei{background:#FFFFFF ;}
.nei .nei1{padding-top: 30px;margin: 0 auto;width: 75%;}
.nei .nei1 .xinmin{width: 200px;height: 20px;margin-left: 20px;border: none;border-bottom: 1px solid#81c8f6;color: #000000;}
.nei .nei1 img{height: 20px ;width: 20px;}



.nei .yuan{background-color: #81c8f6;width: 120px;height:30px;border-radius: 40px;margin: 0 auto;text-align: center;margin-top: 30px;}
.nei .yuan h4{color: #FFFFFF;padding-top: 6px;}
.nei .kg{height:40px;padding-bottom: -1px;}


.d{background: #dfeaff;overflow: auto;zoom: 1;}
.n{background: #dfeaff;}
.d .q{height:150px;width: 150px;margin: 0 auto;margin-top: 40px;}
.d .q img{}
.n .n1{padding-top: -20px;}
.x1{background: #dfeaff;color: #000000;}
